* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica Neue、Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif;
    font-size: 0.9rem;
    line-height: 1.7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}




/*header
#header {
    width: 100%;
    min-height: 100vh;
    background: #999 url("img/main.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 20px 40px;
    position: relative;
}
*/

/*パララックスあり*/
.parallax {
    position: relative;
    background: #999 url("img/main.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.site-tittle{
    padding: 0 16px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    filter: drop-shadow(1px 1px 10px #c0c0c0);
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 30px;
}

nav li a {
    color:#ffffff;
    font-weight:bold;
    transition: all 0.3sec ease;
    filter: drop-shadow(1px 1px 2px #121212);
}


/*menu*/
#menu{
    margin-top: 150px;
}

#menu-img {
    background-image: url("img/menu.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-attachment: fixed;
}

#menu .menu-content {
    display: flex;
}

#menu .menu-item {
    width: 50%;
    padding: 0 45px;
}

#menu .menu-item:first-child {
    border-right: solid 1px #000000;
}

#menu .menu-item dl{
    display: flex;
    flex-wrap: wrap;
}

#menu .menu-item dt{
    width: 87%;
    text-align: left;
    border-bottom: dotted 1px #000000;
    margin-bottom: 25px;
}

#menu .menu-item dd{
    width: 13%;
    text-align: right;
    margin-top: 25px;
}
    

/*.fixed-bg { main 共通
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
*/

.sec-tittle { /*main 共通*/
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 4.5rem;
    filter: drop-shadow(1px 1px 10px #c0c0c0);
    position: absolute;
    top: 30%;
}

.wrapper { /*main 共通*/
    max-width: 1000px;
    padding: 90px 16px 150px 16px;
    margin: 0 auto;
    text-align: center;
}

.item-tittle { /*main 共通*/
    font-size: 2.5rem;
    display: inline-block;
    border-bottom: solid 6px #e03131;
    margin-bottom: 70px;
}

/*about*/
#about{
    margin-top: 20px;
}

#about-img {
    background-image: url("img/about.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center top;
    background-attachment: fixed;
}

#about ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

#about li {
    padding: 2%;
    width: 50%;
    line-height: 2;
    text-align: left;
}

#about .btn {
    width:160px;
    height:50px;
    line-height: 3.5;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#about .btn span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#about .btn::before, #about .btn span::before {
    width: 2px;
    height: 50%;
}

#about .btn::after, #about .btn span::after {
    width: 20%;
    height: 2px;
}

#about .btn::before, #about .btn::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #e03131;
    transition: all 0.3s ease;
}

#about .btn span::before, #about .btn span::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #e03131;
    transition: all 0.3s ease;
}


#about .btn:hover:before, #about .btn span:hover:before {/*hover時*/
    width: 2px;
    height: 100%;
}

#about .btn:hover:after, #about .btn span:hover:after {/*hover時*/
    width: 100%;
    height: 2px;
}

/*location*/
#location{
    margin-top: 20px;
}

#location-img {
    background-image: url("img/location.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center top;
    background-attachment: fixed;
}

#location .item-map  {
    margin-bottom: 20px;
}

#location .item-info  {
    text-align: left;
}

#location .item-info p  {
    margin-bottom: 10px;
}

/*footer*/
#footer {
    text-align: center;
    padding: 10px 0;  
    font-size: 0.5rem;
}